@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --white-color:#fff;
    --black-color:#111;
    --blue-color:#00a3d9;
    --red-color:#b3002d;
    --grey-dark-color:#777;
    --grey-medium-color:#9b9b8c;
    --grey-light-color:#dfdfd0;
    --padding:12px;
    --avater-padding:36px;
    --font-large:18px;
    --font-small:12px;
    --font-medeum:14px;
}
body{font-family: 'Roboto', sans-serif;}
header{
    display:flex;
    justify-content:space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color:var(--white-color);
}
header .logo{
    font-size: var(--font-large);
}
header .logo .fa-youtube{color:var(--red-color);}
header>.icon .fa-search{margin-right: var(--padding);}

.player{
    position:sticky;
    top:0;
    background-color: var(--black-color);
    text-align: center;
}