body{text-align: center;}
h1{background-color: blueviolet; color:white; padding:10px, 0px;}
a{background-color: black; color: white;}
li{line-height: 180%;}
h2{background-color: red; font-size:14px; padding:5px 0px; color:white}
