@charset "UTF-8";
body {
  padding: 100px 20px;
  width: 600px;
  margin: 0 auto;
  border: 5px solid #ddd;
}

.btn1 {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #666;
  background: #fff;
  border: 1px solid #666;
  text-align: center;
}
.btn1:hover {
  background: #666;
  color: #fff;
}

.btn2 {
  padding: 10px;
  font-size: 24px;
  border: 1px solid #c00505;
  background: blue;
}
.btn2:hover {
  background-color: #c00505;
}

.sass {
  color: #c00505;
}
.sass ul {
  border: 1px solid #c00505;
}
.sass ul > li {
  background: pink;
}
.sass ul > li a {
  text-decoration: none;
}
.sass ul > li a:hover {
  color: #c00505;
}
.sass ul > li a.bbb {
  font-size: 12px;
}
.sass ul > li .bbb {
  text-decoration: underline;
}
.sass ul > li:last-child {
  border: 1px dotted blue;
}

.test {
  width: 100px;
  height: 100px;
  border: 1px solid #c00505;
  margin-bottom: 10px;
}

.clearfix {
  background: #e6ff04;
  border: 3px solid #0086b3;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix p {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #c00505;
  margin-bottom: 10px;
}

.var {
  border: 1px solid green;
  padding: 5px;
  margin-bottom: 5px;
}

.red {
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 5px;
}

.green {
  border: 1px solid green;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
}

.var2 {
  width: 300px;
  height: 100px;
  background: #fceb00;
}

.string1 {
  border-top: 5px solid green;
}

.string2 {
  border-left: 5px solid red;
}

.string2 {
  border-right: 5px solid red;
}

.list li {
  background: no-repeat 0 50%/20px 20px;
  text-indent: 30px;
  line-height: 50px;
}

.list li.ico1 {
  background-image: url(../img/icon1.png);
}

.list li:nth-child(1):before {
  content: "제목 1";
}

.list li.ico2 {
  background-image: url(../img/icon2.png);
}

.list li:nth-child(2):before {
  content: "제목 2";
}

.list li.ico3 {
  background-image: url(../img/icon3.png);
}

.list li:nth-child(3):before {
  content: "제목 3";
}

.list li.ico4 {
  background-image: url(../img/icon4.png);
}

.list li:nth-child(4):before {
  content: "제목 4";
}

.list li.ico5 {
  background-image: url(../img/icon5.png);
}

.list li:nth-child(5):before {
  content: "제목 5";
}

/* $var===var 함수명 in 안에 북 줌 뉴  */
.ico_book {
  background: url(../img/ico_book.png) no-repeat 0 50%/30px 30px;
  text-indent: 80px;
  line-height: 50px;
}

.ico_zoom {
  background: url(../img/ico_zoom.png) no-repeat 0 50%/30px 30px;
  text-indent: 80px;
  line-height: 50px;
}

.ico_new {
  background: url(../img/ico_new.png) no-repeat 0 50%/30px 30px;
  text-indent: 80px;
  line-height: 50px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.btn {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #000;
  color: #fff;
  border: 1px solid red;
}

.if {
  width: 100px;
  height: 100px;
  background: chartreuse;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */