@charset "utf-8";
*{margin:0; padding:0;}
a{text-decoration:none;}
ul,li{list-style: none;}
.nav{height:45px; width:80%; padding:6px 7px; margin:50px auto 0; background-color: red;}
.nav>li{position:relative; float:left; width:200px; text-align:center; margin:1px 10px;}
.nav>li>a{display:block; padding:10px 20px 18px 20px; color:white;}
.nav>li>a:hover{color:yellowgreen}
.nav>li>ul{display:none; background-color: tomato;}
.nav>li:hover>ul{display:block;}
.nav>li>ul li{padding:10px 0;}
.nav>li>ul li a{color:white;}
.nav>li>ul li:hover{background-color: yellow;}