@charset "utf-8";
*{margin: 0; padding: 0;}
.border-tip{
    width:400px;
    padding:20px 20px;
    background-color: black;
    color:white;
    margin:50px auto;
    position:relative;
}
.top{
    position:absolute;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
    border-bottom:10px solid blue;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}
.bottom{
    position:absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    border-top:10px solid blue;
    border-left:10px solid transparent;
    border-right:10px solid transparent;

}
.left{
    position:absolute;
    top:50%;
    right:-10px;
    border-left:10px solid blue;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    transform: translateY(-50%);
}
.right{
    position:absolute;
    top:50%;
    left:-10px;
    transform: translateY(-50%);
    border-right:10px solid blue;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
}